<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Weather Station</h1>
      <div>
        <div>
          <div id="humidity"></div>
          <div id="pressure"></div>
          <div id="temp"></div>
          <div id="temp_max"></div>
          <div id="temp_min"></div>
        </div>
      </div>
    </div>
  </body>
  <script>
    window.onload = async () => {
      const res = await fetch("/api/weather?q=London");
      const json = await res.json();
      const { main } = json;
      Object.keys(main).forEach((key) => {
        const val = main[key];
        const ele = document.getElementById(key);
        ele.innerHTML = `${key} : ${val}`;
      });

      console.log(json);
    };
  </script>
</html>
